.bt {
  position: absolute;
  height: 287px;
  width: 287px;
  left: 50%;
  margin-left: -144px;
}

.bt {
  position: absolute;
  height: 287px;
  width: 287px;
  left: 50%;
  margin-left: -144px;
}
.btn-help {
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
  background: url(./img/btn.png) no-repeat center;
  height: 287px;
  width: 287px;
  line-height: 287px;
  position: absolute;
  z-index: 32px;
  margin-top: 7px;
}
.btn-help:active {
  margin-top: 14px;
}
.bt-fon {
  height: 287px;
  width: 287px;
  position: absolute;
  z-index: 1px;
  background: url(./img/btn-fon.png) no-repeat center;
  margin-top: 7px;
}
