.bl_lang {
  position: absolute;
  top: 3%;
  width: 160px;
  left: 50%;
  margin-left: -80px;
}

.lang {
  padding-bottom: 12px;
  color: #b2b2b2;
}
.country a {
  margin: 5px;
}
.inactive {
  opacity: 0.14;
  filter: alpha(opacity=14);
}
